body {
  font-size: 15px;
}

button {
  background:#ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 50%;
}

.menuclass {
  display: grid;
  grid-gap: 20px;
}

.Logo {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "Pizzadang Pizzadang Pizza"
    "Pizzadang Pizzadang Pasta"
}

.Pizzadang{
  grid-area: Pizzadang;
  min-height: 400px;
  background: white url(https://github.com/HikariNoRyu/Focal-Point/blob/main/Images/PadangPizza.jpg?raw=true);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.Pizzadang > * {
  background: var(--yellow);
  padding: 5px;
}

.BestSelling {
  background: #fdbc66;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.BestSelling p {
  margin: 0;
}

.Pizza {
  grid-area: Pizza;
  color:#000000;
  text-shadow: none;
}

.Pasta {
  grid-area: Pasta;
  color:#000000;
  text-shadow:none;
}

.price {
  font-size: 60px;
  font-weight: 300;
}

.dropdown_menu ul{
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: #d59647;
  min-height: 40px;
  text-align:center;
  font-size: 40px;
}

.dropdown_menu ul a {
  background: var(--yellow);
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}

.dropdown_menu ul a:hover {
  display: block;
  color: red;
  background: #222;
 

}
.showcase {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas:"items items items items items"
}

.items {
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px  rgba(0,0,0,0.1);
  color:black;
}

.items .emoji {
  font-size: 50px;
}
.showcase p {
  color: rgb(34, 34, 34);
  text-shadow: none;
}

.about {
  background: #d59647 url(https://github.com/HikariNoRyu/Focal-Point/blob/main/Images/Black_marble.jpg?raw=true);
  padding:50px;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center;
}
.about_info{
  background-color:#d59547b2;
}
.reserve{
  color:red;
  height:100px;
}
.Bottom{
  float:left;
  text-align: center;
  color:rgb(255, 255, 255);
}
.Bottom_Extra{
  float:right;
  color:rgb(255, 255, 255);
}
.Bottom_Extra:hover{
  color:rgb(0, 102, 255)
}
footer{
  background-color: #d59647;
}
.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
  width: 100%;
}

.gallery h2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.gallery h2:before, .gallery h2:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), var(--geen), transparent);
}

.gallery h2:after {
  --direction: right;
}


@media (max-width: 1000px) {
  .dropdown_menu {
    perspective: 800px;
  }
  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px;
  }

  .dropdown_menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(180deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

@media (max-width: 500px) {
  .Logo {
    grid-template-areas:
      "Pizzadang Pizzadang"
      "Pizza"
      "Pasta"
  }
  .about {
    grid-template-columns: 1fr;
    background-color: #1a202c;
  }
}
  .about_info{
      background-color: #1a202c;
  }
}
@media (max-width: 500px) {
  .Logo {
    grid-template-areas:
      "Pizzadang"
      "Pizza"
      "Pasta";
  }
}